body {
    background: lightgray;
    margin: 3%;
    font-family: Arial, Helvetica, sans-serif
  }

.top-banner {
    border-radius: 15px;
    background-color: lightblue;
    border: 2px solid black;
    padding: 20px;
}

.main-banner {
    background-color: lightcoral;
    margin: 20px 0px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    height: 10rem;
}

th {
    border-collapse: collapse;
    background-color: white;
    border: 1.5px solid gray;
    text-align: left;
    height: 50px;
    margin: 3% 50px;
}

td {
    border: 1px solid white;
    border-collapse: collapse;
}

.bottom-banner {
    background-color: lemonchiffon;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
}


.footer {
    background-color: lightseagreen;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}
