html, body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

p {
    align-self: flex-end;
}

h1 {
    font-size: 38px;
}

header {
    height: 6vmax;
    display: inline-flex;
    align-items: center;
    justify-content: left;
    margin-left: 2vmax;
}

.top-banner {
    background: #ffcdd2;
    color: #d83519;
    padding-top: 15%;
    padding-bottom: 25%;
    text-align: center;
    height: 18vmax;
}

.bottom-banner {
    background: #2941ab;
    color: #1ed760;
    padding-top: 15%;
    padding-bottom: 25%;
    text-align: center;
    height: 18vmax;
}

.footer {
    height: 6vmax;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 2vmax;
}

.button1 {
    color: white;
    background-color: #d83519;
    border: 10px solid #d83519;
    border-radius: 25px;
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
}

.button2 {
    color: white;
    background-color: #1ed760;
    border: 10px solid #1ed760;
    border-radius: 25px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
}